/*  css File Contents :

    1.0 Main Rulez
    2.0 My Framwork
    3.0 Header
    4.0 Start Slider title
    5.0 Content
        5.1 Welcome Section
        5.2 Featured Works Section
        5.3 Offer Section
        5.4 Choose Section
        5.5 number section
        5.6 Pricing section
        5.7 authors section
        5.8 Team Section
        5.9 Recents News Section
        5.10 contact Section
    6.0 Footer Section

*/

/*  1.0 - Start Main Rulez*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Varela Round', sans-serif;
}
.contianer {width: 80%; margin: auto;}
.clearfix {clear: both;}

/*  End Main Rulez*/

/* 1.1 - Start My FramWork */
h1, h2, h3, h4, h5, h6
{
    font-family: montserrat,sans-serif;
}
.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/*  any Content Header */
.content-title
{
    text-align: center;
    padding: 120px 0 0 0;
    margin-bottom: 50px;
}
.head-content
{
    font-size: 40px;
    font-weight: bolder;
    font-family: montserrat,sans-serif;
    text-transform: capitalize;
}
.line-span
{
    display: block;
    width: 50px;
    height: 4px;
    margin:15px auto 20px auto;
    background-color: #6195FF;  
}
/*  ./any contnet Header */
.ltr-effect, .tb-effect   
{
    position: relative;
}
.ltr-effect:after,
.tb-effect:after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111;
    z-index: -1;
}
.ltr-effect:after 
{
    width: 0;
    height: 100%;
    transition: width 0.5s;
}
.tb-effect:after
{
    height: 0%;
    width: 100%;
    transition: height 0.5s;
}
.ltr-effect:hover:after
{
    width: 100%;
}
.tb-effect:hover:after
{
    height: 100%;
}
hr {
    border: 0.5px solid #ececec;
    margin: 120px 0 0 0;
}
.mg
{
    margin: 0 5%;
}
input[type="text"],input[type="email"]
{
    background: #f4f4f4;
}

/*  End My FramWork */

/* 1.2 - Start Header */

.header
{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.2);
}
.header .logo
{
    width: 40%;
    float: left;
    padding: 14px 0;

}
.header .logo img
{
    width: 20%; /* logo 100% ,width 20% from logo  */
    cursor: pointer;
}
.header .nav
{
    width: 60%;
    float: left;
    list-style: none;
}
.header .nav > li
{
    display: inline-block;
}
.header .nav  > li > a
{
    display: block;
    padding: 30px 10px;
    text-decoration: none;
    color: #fff;   
}
.header .nav > li > a:after
{
    content: "";
    width: 0%;
    background: #547ED3;
    height: 3px;
    display: block;  /* to display */
    transition: width 0.5s;
}
.header .nav > li > a:hover:after,
.header .nav > li > a.active:after
{
    width: 100%;
}
.drobdown
{
    position: relative;
}
.drobdown-menu
{
    position: absolute;
    top: 80%;
    width: 130px;
    background: #6195FF;
    text-align: center;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s visibility 0.8s;
}
.drobdown-menu a
{
    display: block;
    color: #fff;
    text-decoration: none;
}
.drobdown-menu a:hover
{
    opacity: 0.8;
}
.drobdown:hover .drobdown-menu
{
    opacity: 1;
    visibility: visible;
}
/* End Header */

/* 1.4 - Start Slider title */

.slider
{
    height: 100vh; /* full viewport*/
    background-image: url("../images/background/background1.webp");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.slider .title-slide
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 65%;
}
.slider .title-slide .title
{
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
    padding-bottom: 5px;
}
.slider .title-slide .prgph-title
{
    color: #fff;
    line-height: 1.6;
    padding-bottom: 10px;
}
.slider .title-slide .org-btn
{
    margin: 5px 10px;
    width: 11em;
    padding: 15px;
    font-size: 18px;
    border: 0;
    background-color: #fff;
    transition: opacity 0.5s;
} 
.slider .title-slide .btn2 {background-color: #6195ff; color: #fff;}
.slider .title-slide .org-btn:hover
{
    opacity: 0.8;
}
/* End Slider title */

/* Start Content */

/* Welcome Section */
.welcome-select
{
    overflow: hidden;

}
.welcome-content
{
    float: left;
    border: 1px solid #eee;
    padding: 20px;
    text-align: center;
    width: 30%;
}
.welcome-content.mg { margin: 0 5%;}
.welcome-content i
{
    font-size: 30px;
    color: #6195FF;
    padding: 20px 0;

}
.welcome-content h2
{
    text-transform: capitalize;
    padding-bottom: 20px;
    transition: color 0.5s;
}
.welcome-content p
{
    line-height: 1.6;
    color: rgb(87, 87, 87);
    padding-bottom: 20px;
}
.welcome-content a
{
    text-decoration: none;
    color: #6195ff;
    display: block;
    padding-bottom: 25px;    
}
.welcome-content:hover h2 {color: #fff;}

/* Featured Works Section  */
.features 
{
    background: #FAFAFA;
}
.features .feat-img
{
    width: 33.333%;
    float: left;
    position: relative;
}
.features .feat-img img
{
    width: 100%;
    padding: 15px;
    background: #fff;
}
.features .feat-img .layer-img
{
    position: absolute;
    top:  0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.feat-img:hover .layer-img
{
    opacity: 1;
    visibility: visible;
}
.features .feat-img .layer-img .layer-con
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;

}

.features .layer-con .category
{
    color: #3367F2;
    margin-bottom: 15px;
    display: block;
    font-size: 25px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s;
    transition-delay: 0;
}
.features .layer-con .layer-title
{
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.3s;
    transition-delay: 0.5s;
}
.features .layer-con a
{
    display: inline-block;
    background-color: #5A84D9;
    color: #fff;
    margin-right: 5px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s;
    transition-delay: 0.3s;

}
.features .layer-con i
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: opacity 0.5s;
}
.features .layer-con i:hover
{
    opacity: 0.8;
}
.feat-img:hover .category,
.feat-img:hover .layer-title,
.feat-img:hover a
{
    top: 0;
    opacity: 1;
    visibility: visible;
}

/*  Offer Section */
.offer .offer-content
{
    overflow: hidden;
}
.offer .offer-content .offer-iteam
{
    float: left;
    width: 30%;
    padding: 25px 15px 25px 70px;
    margin-bottom: 40px;
    border: 1px solid #f1f1f1;
    position: relative;  
}
.offer .offer-content .offer-iteam i
{
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 30px;
    color: #6195FF;
}
.offer .offer-content .offer-iteam .offer-iteam-title
{
    text-transform: capitalize;
    padding: 15px 0;
    font-weight: bold;
    font-size: 25px;
}
.offer .offer-content .offer-iteam .offer-iteam-para
{
    line-height: 1.6;
    color: #666;
    padding-bottom: 20px;
}
.offer-iteam:hover h3 {color: #fff;}

/*  Choose Section */
.choose .choose-cont
{
    overflow: hidden;
}
.choose .choose-cont .choose-desc
{
    float: left;
    width: 50%;
}
.choose .choose-cont div,
.choose .choose-cont span
{
    text-align: left;
    margin:15px 20px;
}
.choose .choose-cont .choose-desc h2 
{
    font-family: montserrat,sans-serif;
    font-size: 40px;
}
.choose .choose-cont .choose-desc .desc-para
{
    line-height: 1.6;
    color: #666;
}
.choose .choose-cont .content-title .desc-why
{
    list-style: none;
}
.choose .choose-cont .content-title .desc-why li
{
    display: block;
    padding : 12px 0;
    color: #666;
}
.choose .choose-cont .content-title .desc-why li i
{
    font-size: 30px;
    color: #5A84D9;
    padding-right: 2px;
}
.choose .choose-cont .choose-slide
{
    float: left;
    width: 42%;
    padding-top: 130px;
}
.choose .choose-cont .choose-slide img
{
    transition: opacity 0.5s;
}
.choose .choose-cont .choose-slide img:hover
{
    opacity: 0.8;
}
.choose .choose-cont .choose-slide .point 
{
    margin-left: 9em;
}
.choose .choose-cont .choose-slide .point .pointx
{
    width: 10px;
    height: 10px;
    background-color: #ebe9e9;
    border:none;
    border-radius: 10px;
    display: inline-block;
    transition: width 0.5s;
}
.choose .choose-cont .choose-slide .point .pointx.active,
.choose .choose-cont .choose-slide .point .pointx:hover
{
    width: 20px;
    background-color: #5A84D9;
}

/* number section */
.number
{
    position: relative;
    height: 300px;
    background-image: url(../images/background/background2.webp);
    background-size: cover;
    background-attachment: fixed;
}
.number .number-con
{
    overflow: hidden;
    padding: 100px 0;
}
.number .number-con .number-item
{
    width: 25%;
    float: left;
    text-align: center;   
}
.number-item .icon
{
    color: #6195FF;
    font-size: 30px;
    padding-bottom: 20px;
}
.number-item .item-title
{
    padding-bottom: 10px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}
.number-item .item-det
{
    color: #fff;
}

/* Pricing section */
.pricing-plan
{
    overflow: hidden;
}
.pricing-plan .plan-item
{
    float: left;
    width: 30%;
    border: 1px solid #f1f1f1;
    text-align: center;
}
.plan-item .plan-item-title
{
    color: #6195FF;
    font-size: 20px;
    padding: 40px 0 0 0; 
    display: block;
}
.plan-item .plan-item-price
{
    width: 130px;
    height: 130px;
    padding: 27px;
    margin: 20px auto;
    border: 2px solid #6195FF;
    border-radius: 50%;
}
.plan-item .plan-item-price .doller
{
   font-size: 40px;
   font-weight: bold;
   transition: color 0.5s;  
}
.plan-item .plan-item-price .month
{
    font-weight: bold;
    transition: color 0.5s;  
}
.plan-item .plan-list
{
    list-style: none;
    line-height: 1.7;
    color: #666;
}
.plan-item .pricing-prchase
{
    background: none;
    border: 0;
    margin: 20px 0 20px 0;
    padding: 15px 30px;
    border: 2px solid #6195FF;
    color: #6195FF;
}
.tb-effect:hover .doller,
.tb-effect:hover .month
{
    color: #fff;
}

/* authors section */
.authors
{
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    margin-top: 120px;
}
.authors .authors-con
{
    overflow: hidden;
}
.authors .authors-con .author-item
{
    float: left;
    width: 50%;
    text-align: center;
}
.authors .authors-con .author-item .author-who
{
    margin: 68px auto 10px auto;
    position: relative;
    padding: 100px 70px 20px 0;
    
}
.authors .authors-con .author-item .author-who img
{
    width: 90px;
    border-radius: 50%;
    height: 90px;
    position: absolute;
    top: 74px;
    left: 82px;
    margin-right: 20px;
}
.authors .authors-con .author-item .author-who .authors-item-title
{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
}
.authors .authors-con .author-item .author-who .authors-item-work
{
    color: #6195FF;
}
.authors .authors-con .author-item .authors-dif
{
    color: #fff;
    text-align: left;
    line-height: 1.6;
}
/* Team Section */
.team-cont
{
    overflow: hidden;
}
.team-cont .team-item
{
    width: 30%;
    float: left;
    background-color: #e8e8e8;
    text-align: center;
    padding: 20px 10px;
}
.team-cont .team-item .team-item-img
{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-cont .team-item .team-item-img .team-overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.team-overlay a
{
    display: block;
    width: 40px;
    height: 40px;
    background: #6195FF;
    color: #fff;
    margin-left: auto;
    transition: opacity 0.5s;
}
.team-overlay a:hover
{
    opacity: 0.8;
}
.team-overlay a i
{
    line-height: 40px;
    font-size: 20px;
}
.team-cont .team-item .team-item-img img
{
    width: 100%;

}
.team-item .team-item-des
{
    margin: 5px 0 15px 0;
}
.team-item .team-item-des .team-iteam-title
{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    transition: color 0.5;
}
.team-item .team-item-des .team-iteam-work
{
    color: #777;
    text-transform: uppercase;
    transition: color 0.5;
}
.team-item:hover .team-item-img .team-overlay
{
    opacity: 1;
    visibility: visible;
}
.team-item:hover.tb-effect
{
    z-index: 1;
}
.team-item:hover .team-item-des .team-iteam-title
{
    color: #fff;
}
.team-item:hover .team-item-des .team-iteam-work
{
    color: #6195FF;
}
/* Recents News Section */
.recent-cont
{
    overflow: hidden;
}
.recent-cont .recent-item
{
    width: 30%;
    float: left;   
}
.recent-cont .recent-item .recent-item-img
{

}
.recent-cont .recent-item .recent-item-img img
{
    width: 100%;
}
.recent-item-des
{
    width: 90%;
    margin: auto;
}
.recent-item-des .item-list 
{
    list-style: none;
    display: inline-block;
    padding: 20px 0;
}
.recent-item-des .item-list li
{
    float: left;
    padding-right: 15px;
}
.recent-item-des .item-list li i
{
    color: #6195FF;
    padding-right: 5px;
}
.recent-item-des .recent-item-title
{
    font-size: 23px;
    font-weight: bold;
    text-transform: capitalize;
}
.recent-item-des .recent-item-para
{
    color: #777;
    line-height: 1.6;
    padding-top: 17px;
    padding-bottom: 12px;
    text-transform: capitalize;
}
.recent-item-des a
{
    text-decoration: none;
    font-size: 17px;
    color: #547ED3;
}
.recent-item-des a:hover
{
    opacity: 0.8;
}

/* contact Section */
.contact .contianer
{
    width: 70%;
}
.contact .contact-cont
{
    overflow: hidden;
    margin-bottom: 40px;

}
.contact .contact-cont .contact-cont-item
{
    width: 30%;
    float: left;
    text-align: center;
    margin-top: 30px;
}
.contact .contact-cont .contact-cont-item i
{
    color: #547ED3;
    font-size: 35px;
}
.contact .contact-cont .contact-cont-item .conact-item-title
{
    padding: 18px 0;
    font-size: 30px;
}
.contact .contact-cont .contact-cont-item .conact-item-para
{
    color: #777;
}
.container-form
{
    width: 70%;
    margin: auto;
}
.contact .contact-form 
{
    margin-top: 60px;
}
.contact .contact-form .form-cont
{
    margin: 10px 0;
    overflow: hidden;

}
.contact .contact-form .form-cont input
{
    padding: 10px;
    font-size: 20px;
    border: 0;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
    opacity: 0.5;
}
.cont1 input
{
    width: 49%;
    
}
.cont2 input
{
    width: 100%;
}
textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    background: #f4f4f4;
    border: 0;
    opacity: 0.5;
}

/* End Content */

/* Start Footer Section */
.footer
{
    background: #1C1D21;

}
.footer .footer-cont
{
    text-align: center;
    padding: 50px 0 50px 0;
}
.footer .footer-cont img
{
    transition: opacity 0.5s;
    cursor: pointer;
}
.footer .footer-cont img:hover
{
    opacity: 0.5;
}
.footer .footer-cont .social-footer
{
    list-style: none;
    padding-top: 30px;
}
.footer .footer-cont .social-footer li
{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 30px;
}
.footer .footer-cont .social-footer li a
{
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #547ED3;
    border: 1px solid #547ED3;
    border-radius: 5px;
    transition: opacity 0.5s;
}
.footer .footer-cont .social-footer li a i
{
    line-height: 50px;
}
.footer .footer-cont .social-footer li a:hover
{
    opacity: 0.5;
}
.footer .footer-cont .footer-para
{
    color: #788F8B;
}
.footer .footer-cont .footer-para span
{
    color: #547ED3;
    transition: opacity 0.5s;
}
.footer .footer-cont .footer-para span:hover
{
    opacity: 0.5;
}
/* End Footer Section */
